*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*REGLER FOR MAIN*/
main{
    padding-top: 15%;
    padding-bottom: 10%;
    margin-left: 13%;
    margin-right: 13%;
}



/*SKRIFTREGLER*/
a, h1, h2, h3, p, td, span, label, li{
    color: black;
    font-family: helvetica neue;
    text-decoration: none;
    font-weight: 50;
}

h1{
    font-size: 3.4vw;
}

h2{
    font-size: 1.2vw;
    color: #e2e2e2;
    text-transform: uppercase;
}

h3{
    font-size: 1.5vw;
    padding-bottom: 6%;
}

p, td, li{
    font-size: 0.9vw;
    line-height: 180%;
}

p{
    padding-bottom: 2%;
}





/*HEADER*/
header{
    display: flex;
    position: fixed;
    justify-content: center;
    
    z-index: 1;

    width: 100%;
    height: 150px;

    background-color: #2E3959;
    box-shadow: 2px 2px 5px #2E3959;
}



/*LOGO*/
header a img{
    width: 90%;
    margin-top: 16%;
}



/*FOOTER*/
footer{
    background-color: #2E3959;

    height: 90px;
    width: 100%;
    margin: 0;
}




/*FORSIDE*/
#forside{
    background-color: #2E3959;
}



/*NAV/MENU*/
nav{
    display: flex;
    justify-content: space-evenly;

    padding-top: 20%;
    margin-left: 13%;
    margin-right: 13%;
}


/*BURGERMENU*/
.burger{
    width: 2%;

    padding-top: 197px;
    margin-right: 4%;

    position: fixed;
    top: 0;
    right: 0;
}

/*DROPDOWN*/
.dropdown {
    display: none;
    position: relative;
    float: right;

    text-align: center;

    background-color: #2E3959;
    box-shadow: 2px 2px 5px #2E3959;

    width: 310px;
    height: 475px;
    padding-top: 130px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: -82px;
    margin-right: -72px;
  }

  .burger:hover .dropdown{
    display: block;
  }

  .dropdown h2{
    padding-bottom: 60px;
  }

  .dropdown img{
    width: 30px;

    float: right;
    margin-top: -90px;
    margin-right: 20px;
  }





/*PASTA FETTUCCINE*/
.main_indhold{
    display: flex;
    justify-content: space-evenly;
    padding-top: 9%;
}

.main_indhold div{
    width: 50%;
}

#fettuccine img{
    width: 95%;

    border: none;
}

.main_indhold_left{
    padding-right: 8%;
    padding-top: 10%;
}

.main_indhold_right{
    padding-top: 9.5%;
}

.main_indhold h3{
    display: flex;
    justify-content: center;
}



/*NÆRINGSINDHOLD*/
#fettuccine_bottom{
    display: flex;
    justify-content: space-between;
}

.tables{
    width: 42.5%;
}

.tables h3{
    text-align: center;
    padding-top: 25%;
}

.list{
    width: 100%;
}

.list td{
    border-bottom: 1px solid #ddd;
    padding-top: 1%;
    padding-bottom: 1%;
}

.list_right{
    text-align: right;
    padding-right: 5%;
}

.list_left_indent{
    padding-left: 3%;
}



/*MÆRKNINGER*/
#eco_marks{
    display: flex;
    padding-right: 3%;
}

#eu_organic{
    padding-top: 135%;
    padding-right: 10%;
}

#debio{
    padding-top: 130.7%;
}






/*OPSKRIFTER*/
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 9%;
}

#cards div{
    width: 30%;
}

#cards img{
    border: 1px solid #2E3959;
    box-shadow: 2px 2px 5px #2E3959;
    width: 100%;
}

#cards h3{
    padding-top: 5%;
    padding-bottom: 30%;
}



/*VIS MERE KNAP*/
.more_content_button{
    display: flex;
    justify-content: center;
}

.button{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 40px;
    border: 1px solid black;

    background-color: #e2e2e2;
    font-size: 0.9vw;
}





/*OPSKRIFT*/
.opskrift_indhold{
    display: flex;
    justify-content: space-between;
}

.opskrift_indhold div{
    width: 50%;
}

.opskrift_indhold img{
    width: 100%;
    box-shadow: 2px 2px 5px #2E3959;
    border: 1px solid #2E3959;
    margin-bottom: 30%;
}

.opskrift_indhold_right{
    margin-left: 12%;
}

.opskrift_indhold_right h1{
    padding-top: 17%;
}


/*INGREDIENSER*/
.ingredienser{
    display: flex;
    align-items: baseline;
    padding-bottom: 3.5%;
}

.ingredienser p{
    padding-left: 30%;
}

.ingredienser_list{
    width: 100%;
}

.ingredienser_list td{
    border-bottom: 1px solid #ddd;
    padding-top: 1%;
    padding-bottom: 1%;
}

.ingredienser_list_left{
    padding-left: 1%;
}

.ingredienser_list_right{
    text-align: left;
    padding-left: 6%;
}



/*FREMGANGSMÅDE*/
.opskrift_indhold_right ol{
    padding-left: 3%;
}

li{
    padding-bottom: 4%;
}







/*KONKURRENCE*/
main section{
    padding-top: 15%;
    padding-bottom: 2%;
    margin-left: 13%;
    margin-right: 13%;
}


main section h2{
    color: black;
    padding-top: 8%;
    padding-bottom: 1%;
}

#konkurrence{
    display: flex;
    justify-content: space-between;

    background-color: #e2e2e2;

    padding-top: 3%;
    padding-bottom: 1%;
}

#question{
    margin-left: 13%;
}

#question input{
    float: right;
}

#question p span{
    font-weight: bold;
    text-decoration-line: underline;
}

#deltag{
    margin-right: 13%;
    width: 30%;
}

form{
    padding-bottom: 5%;
}

form label{
    font-size: 0.9vw;
}

form input{
    float: right;
    width: 80%;

    padding-top: 2%;
    padding-bottom: 2%;

    border: 1px solid black;
}

#betingelser{
    font-size: 0.75vw;
    display: flex;
    justify-content: right;

    padding-right: 4%;
}

#betingelser span{
    padding-left: 2.5%;
    padding-top: 4%;
    padding-bottom: 3%;
}

#deltag a{
    font-size: 0.75vw;

    padding-left: 24.7%;
}

.deltag_button{
    float: right;

    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 1%;

    background-color: white;
    font-size: 0.9vw;
}

#white_space{
    height: 140px;
}








/*OM URTEKRAM*/
.main_indhold_img_right{
    display: flex;
    justify-content: space-evenly;
    padding-top: 9%;
}

.main_indhold_img_right div{
    width: 50%;
}

.main_indhold_img_right h3{
    display: flex;
    justify-content: center;
}

.main_indhold_img_right img{
    border: 1px solid #2E3959;
    width: 100%;
}

.img_right{
    padding-left: 8%;
}

.img_left{
    padding-right: 8%;
}

.main_indhold img{
    border: 1px solid #2E3959;
    width: 100%;
}

#uden_pesticider_span{
    font-weight: bold; 
    font-size: 1vw;
}

.read_more_button{
    position: relative;
    margin-left: 39%;
    margin-top: 7%;
}

.read_more_button .button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}



/*MEDIA QUERIES*/

/*MOBIL*/ 

@media screen and (max-width: 768px){ 

    /*REGLER FOR MAIN*/
    main{
        padding-top: 30%;
        padding-bottom: 10%;
    }



    /*SKRIFTREGLER*/
    h1{
        font-size: 7vw;
        text-align: center;
    }

    h2{
        font-size: 5vw;
    }

    h3{
        font-size: 4vw;
        padding-bottom: 6%;
    }

    p, td{
        font-size: 2.8vw;
        line-height: 180%;
    }

    p{
        padding-bottom: 2%;
    }    



    /*HEADER*/
    header{
        width: 100%;
        height: 110px;
    }



    /*LOGO*/
    header a img{
        width: 70%;
        margin-top: 12%;
        margin-left: 15%;
    }



    /*BURGERMENU*/
    .burger{
    width: 6%;

    padding-top: 40px;

    z-index: 1;
}



    /*DROPDOWN*/
    .dropdown {
        width: 530px;
        height: 240px;
        padding-top: 30px;
        padding-right: 50px;
        padding-left: 50px;
        margin-top: 39px;
        margin-right: -21px;
    }

    

    .dropdown h2{
        font-size: 4vw;
        padding-bottom: 30px;
    }

    .dropdown img{
        display: none;
  }



    
    /*NAV/MENU*/
    nav{
        padding-top: 40%;
        
        flex-direction: column;
        align-items: center;
    }

    nav h2{
        padding-bottom: 70px;
    }







    /*PASTA FETTUCCINE*/
    .main_indhold{
        display: flex;
        flex-wrap: wrap;
    }

    .main_indhold div{
        width: 100%;
    }

    .main_indhold h3{
        padding-top: 15%;
    }

    #fettuccine img{
        width: 100%;

        padding-bottom: 10%;
    }

    .main_indhold_left{
        padding-right: 0;
        padding-top: 0;
    }

    .main_indhold_right{
        padding-top: 0%;
    }



    /*NÆRINGSINDHOLD*/
    #fettuccine_bottom{
        width: 100%;
        flex-wrap: wrap;
    }

    .tables{
        width: 100%;
    }

    .list{
        padding-top: 4%;
    }



    /*MÆRKNINGER*/
    #eco_marks{
        padding-top: 10%;
        padding-bottom: 5%;
    }

    #eco_marks img{
        width: 70%;
    }

    #eu_organic{
        padding-right: 0;
        padding-left: 17%;
        padding-top: 25%;
    }

    #debio{
        padding-top: 21.5%;
    }








    /*OPSKRIFTER*/
    #cards div{
        width: 100%;
        padding-top: 10%;
    }

    #cards h3{
        padding-top: 4%;
        padding-bottom: 25%;
    }

    #fettuccine_unknown{
        display: none;
    }



    /*VIS MERE KNAP*/
    .button{
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 3%;
        padding-bottom: 3%;

        font-size: 2.8vw;
    }








    /*OPSKRIFT*/
    .main_opskrift{
        padding-top: 22%;
        margin-left: 0;
        margin-right: 0;
    }

    .opskrift_indhold{
        flex-direction: column;
    }

    .opskrift_indhold div{
        width: 100%;
    }

    .opskrift_indhold img{
        border: none;
        margin-bottom: 15%;
    }

    .opskrift_indhold_right{
        margin-left: 0;
    }

    .opskrift_indhold_right h1{
        padding-top: 1%;
        padding-bottom: 1%;
        width: 80%;

        position: relative;
        margin-top: -52%;
        margin-left: 10%;

        color: white;
        background-color: #34312f5b;
    }



    /*INGREDIENSER*/
    .ingredienser{
        padding-left: 13%;
        padding-right: 13%;
    }

    .ingredienser_list{
        padding-left: 13%;
        padding-right: 13%;
    }

    .ingredienser_list span{
        font-weight: bold;
    }

    

    /*FREMGANGSMÅDE*/
    .opskrift_indhold_right h3{
        padding-top: 20%;
        padding-bottom: 8%;
        padding-left: 13%;
        padding-right: 13%;
    }

    .opskrift_indhold_right ol{
        padding-left: 16%;
        padding-right: 13%;
    }

    .opskrift_indhold_right p{
        padding-left: 13%;
        padding-right: 13%;
    }

    li{
        font-size: 2.8vw;
        padding-bottom: 8%;
    }








    /*KONKURRENCE*/
    main section{
        padding-top: 30%;
        padding-bottom: 6%;
    }


    main section h2{
        padding-top: 15%;

        font-size: 4vw;
    }


    #konkurrence{
        padding-top: 3%;
        padding-bottom: 0;

        flex-direction: column;
    }
    
    #question{
        padding-top: 2%;
        padding-bottom: 5%;
    }

    #question input{
        margin-right: 13%;
    }

    #question p{
        width: 80%;
    }
    
    #deltag{
        width: 100%;
        padding-top: 10%;
        padding-left: 13%;
        padding-right: 13%;

        background-color: white;
    }
    
    form{
        padding-bottom: 3%;
    }
    
    form label{
        font-size: 2.8vw;
    }
    
    form input{
        width: 80%;
    
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    #betingelser{
        font-size: 2vw;
        width: 100%;
    
        padding-right: 0;
        padding-top: 10%;
    }
    
    #betingelser span{
        padding-top: 0;
    }
    
    #deltag a{
        font-size: 2vw;
    
        padding-left: 23%;
    }
    
    .deltag_button{
        float:none;
        display: flex;
    
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 7%;
        padding-right: 7%;
        margin-top: 15%;
        margin-left: 38%;
    
        background-color: #e2e2e2;
        font-size: 2.8vw;
    }
    
    #white_space{
        height: 80px;
    }







    /*OM URTEKRAM*/
    .main_indhold_img_right{
        flex-wrap: wrap-reverse;
    }

    .main_indhold_img_right div{
        width: 100%;
    }

    .main_indhold_img_right h3{
        padding-top: 15%;
    }
    
    #uden_pesticider_span{
        font-size: 3vw;
    }

    .img_right{
        padding-left: 0;
        padding-top: 10%;
    }

    .img_left{
        padding-right: 0;
        padding-top: 10%;
    }

    .read_more_button{
        margin-left: 0;
        margin-top: 7%;

        display: flex;
        justify-content: center;
    }

    .read_more_button .button{
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

}